*.pyc
__pycache__/
API/__pycache__/*
/API/__pycache__
/kerotan/__pycache__
idea/
/project_kerotan/project_kerotan/__pycache__
/project_kerotan/kerotan/__pycache__
/API/*.pyc

API/__pycache__/
project_kerotan/kerotan/__pycache__/
project_kerotan/kerotan/__pycache__/*.pyc
project_kerotan/kerotan/ekitan/__pycache__/
project_kerotan/kerotan/ekitan/__pycache__/*.pyc
project_kerotan/kerotan/gmaps_geocoder/__pycache__/
project_kerotan/kerotan/gmaps_geocoder/__pycache__/*.pyc
project_kerotan/kerotan/migrations/__pycache__/
project_kerotan/kerotan/migrations/__pycache__/*.pyc
project_kerotan/project_kerotan/__pycache__/
project_kerotan/project_kerotan/__pycache__/*.pyc
